.dayOfWeek{
    width: 200px;
    height: 350px;
}
.fiveDay div{
    float: left;
    padding-left: 30px;
}
.hourlyForcast div{
    float: left;
}
.fiveDay{
    height: 350px;
}
.hourlyForcast{
    height: 400px;
}